/* 
.secondNav{
    background-color: rgb(58, 55, 55);
    color: white;
    position: sticky;
    top: 0px;
    padding: 20px 20px;
    
   
}

.mainSecond{

    border-radius: 20px;
   border: 2px solid gray;
   display: flex;
    flex-direction: row;
   justify-content: center;
   gap: 30px;
   width: 60%;
   margin-left: 350px;
   padding: 10px 10px;
  
}

.locationS{
    border-right:2px solid gray ;
}

.people{
    border-right:2px solid gray ;
}
.wrong{
    position: absolute;
    top: 58%;
    left: 42%; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.countryInput{
    width: 100%;
    height: 3vh;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.countryInput:focus{
    border: none;
    outline: none;
}
.right{
    position: absolute;
    top: 58%;
    left: 58%; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.peopleInput{
    width: 100%;
    height: 3vh;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.peopleInput:focus{
    border: none;
    outline: none;
    
}
.searchButton{
        background-color:  rgb(235, 87, 87);
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid   rgb(235, 87, 87);
        color: white;
        font-size: 15px;
        text-align: center;

}
.searchButton:hover{
    cursor: pointer;
}
.countryList{
    position: absolute;
    top: 80%;
    left: 21%;
    background-color: rgb(25, 25, 25);
    width: 23%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    padding: 20px 40px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.addingPeople{
    position: absolute;
    top: 80%;
    left: 44%;
    background-color: rgb(25, 25, 25);
    width: 17%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    padding: 10px 20px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 15px;
}
.addingPeople p{
    font-size: 15px;
    color: gray;

}
.addingPeople h4{
    font-size: 15px;
}
.addingPeople button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 35px;
}
.addingPeople button:hover{
    cursor: pointer;
}
.add{
    display: flex;
    align-items: center;
    gap: 10px;    
}
.add p{
    font-size: 25px;
    color: white;
}

.childrenAdd{
    display: flex;
    align-items: center;
    gap: 10px;
}
.childrenAdd p{
    font-size: 25px;
    color: white;
} */
