*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}    
.mainTitle{
    color: white;
    
}
.pageCount{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.top{
    margin-top: 50px;
    width: 1400px;
    margin-left: 1200px;
    text-align: center;
}
.h{
    background: rgb(33, 33, 33);
}
.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    margin-left: 170px;
    color: white;
    
}
.movies{
    width: 20%;
    margin-top:20px ;
    text-align: left;
    
}

.poster{
    width: 75%;
    height: 40vh;
    border-radius: 10px;
    
}
.poster:hover{
cursor: pointer;
transform: scale(1.07);
}
.title{
    width: 80%;

}
.next_previous{
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    left: 85%;
}
.previousPage{
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 17px;
    background-color: #6f94de;
    color: white;
    border: none;
    border-radius: 7px;
}
.previousPage:hover{
    cursor: pointer;
    background-color: rgb(25, 99, 236);
    transition: all 0.5s ease-in-out;
}

.nextPage{
    padding: 10px 20px;
    font-size: 17px;
    background-color:  #6f94de;
    color: white;
    border: none;
    border-radius: 7px;
}
.nextPage:hover{
    cursor: pointer;
    background-color: rgb(25, 99, 236);
    transition: all 0.5s ease-in-out;
}
