*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navEight{
    background: rgb(11, 11, 11);
   
    
}
.nav{
    
    display: flex;
    flex-direction: row;
    gap: 600px;
    margin-left: 150px;
    padding: 20px 20px;
    width: 1500px;
    justify-content: center;
}
.eight{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
    align-items: center;
}
.l{
    background:none;
    width:40%;
}
.navigation{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    
}
li, a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.movieInput{
    background-color: white;
    color: rgb(55, 54, 54);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    width: 25vh;
    height: 4vh;
    font-size: 15px;
}
.movieInput:focus{
    border: none;
    outline: none;
}
.searchButton{
    background:none;
    color:black;
    border: none;
    font-size: 25px;
    position: absolute;
    left: 86.5%;
    top: 2.5%;
}
.searchButton:hover{
    cursor: pointer;
}
